@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gentium+Book+Plus&display=swap');


.title-color{
    color: #FA804C;
}


.bg-color{
    color: #FFF9F4;
}

.nike-color{
    background-color: rgb(177, 177, 177);
}

@media only screen and (max-width: 576px) {
    #ima{
        width: 100%;
    }
}
